
<header>
	<h1> Client Viewer </h1>
</header>
	<h3> Client: <%= @client.name%> </h3>

	<b> Email: </b> <%= @client.email %><br />
	<b> Age: </b> <%= @client.age %><br />
	<b> Phone: </b> <%= @client.phone %><br />
	<b> Town: </b> <%= @client.town %><br />
	<b> State: </b> <%= @client.state %><br />
	<b> Referal: </b> <%= @client.referal %><br />
	<b> Experience: </b> <%= @client.experience %><br />
<%= button_to "Edit #{@client.name}", edit_client_path(@course), :method => 'get' %>
<br />
	<%= form_tag ({:controller => :clients, :action => :search}) do %>
			<%= hidden_field_tag :id, @client.id %>
			<%= submit_tag "Create New Course for #{@client.first_name}", :name => nil %>
		<% end %>
<br />
<div id="clientLists">		
	<div id="clientCourseList">
		<h3><%= "Courses:" %></h3>
		<%= render :partial => 'courses/list' %>
	</div>
		
	<div id="clientGuideList">	
		<h3> <%= "Guides:" %></h3>
		<%= render :partial => 'guides/list' %>
	</div>
</div>

