<h1> Edit Course </h1>

<%= form_for(@course, :action => 'update') do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>	
	<div class="field">
	</div>	
	<div class="field">
		<%= f.label :experience %><br />
		<%= f.number_field :experience %>
	</div>
	<div class="field">
		<%= f.label 'Course Type' %><br />
		<%= f.text_field :course_type %>
	</div>
	<div class="field">
		<%= f.label :date %><br />
		<%= f.date_select :date %>
	</div>
	<div class="field">
		<%= f.label :time %><br />
		<%= f.time_select :time %>
	</div>
	<div class="field">
		<%= f.label :contact %><br />
		<%= f.text_field :contact %>
	</div>
<table>
<tr> 
	<td>	
		<b>Clients</b>
		<ul class="checkbox-list">
		<% @course.clients.each do |client| %>
			<li><%= check_box_tag "course[client_ids][]", client.id, @course.clients.include?(client) %> <%= client.name %></li>
		<% end %>
	</ul>
	</td>
	<td>
		<b>Guides:</b>
			<ul class="checkbox-list">
			<% @course.guides.each do |guide| %>
				<li><%= check_box_tag "course[guide_ids][]", guide.id, @course.guides.include?(guide) %> <%= guide.name %></li>
			<% end %>
		</ul>
	</td>
</tr>
<tr>

	<td>
			<div class ="field">			
				<%= f.collection_select(:num_clients, @clients, :id , :name, {:prompt => "Select Client"} ) %>
			</div>
	</td>	
	
	<td>
			<div class="field">
					<%= f.collection_select(:num_guides, @guides, :id , :name, {:include_blank => 'none', :selected => 'none'} ) %>
				</div>

	</td>
</tr>
</table>
	<div class="actions">
		<%= f.submit "Change Course" %>
	</div>
<% end %> 
