<h1> New Course </h1>

<%= form_for(@course) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>	
	<div class="field">
		<%= f.collection_select(:num_clients, @clients, :id , :name, {:prompt => "Select a Client"} ) %>
	</div>	
	<div class="field">
		<%= f.collection_select(:num_guides, @guides, :id , :name, {:prompt => "Select a Guide"} ) %>
	</div>	
	<div class="field">
		<%= f.label :experience %><br />
		<%= f.number_field :experience %>
	</div>
	<div class="field">
		<%= f.label 'Course Type' %><br />
		<%= f.text_field :course_type %>
	</div>
	<div class="field">
		<%= f.label :date %><br />
		<%= f.date_select :date %>
	</div>
	<div class="field">
		<%= f.label :time %><br />
		<%= f.time_select :time %>
	</div>
	<div class="field">
		<%= f.label :contact %><br />
		<%= f.text_field :contact %>
	</div>
	<div class="actions">
		<%= f.submit "Create Course" %>
	</div>
<% end %> 
